  <div class="container-fluid application-nav">
    <nav class="navbar nav-masthead app-nav">
    <h3 class="navbar-brand">Geoff Humphreys</h3>
      <%= nav_helper 'nav-link', 'span' %>
      <!-- <%= login_helper 'nav-link' %> -->
    </nav>
  </div>
