<div class="collapse port-nav-color" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h2 class="nav-inner-title">Thanks for stopping by</h2>
        <p class="nav-inner-body">I am a recent graduate of The Iron Yard in Durham, NC and currently a Freelance Developer that focuses on Ruby/Rails.  If you'd like to get in touch with me you can head over to the contact page or you can just send me a message at : <br /> humphreys.geoff@gmail.com</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4 text-center">
        <h2 class="nav-inner-title">menu</h2>
        <ul class="list-unstyled">
          <%= nav_helper 'nav-inner-body', 'li' %>
          <!-- <li><%= login_helper 'text-white' %></li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-dark port-nav-color port-nav box-shadow">
  <div class="container d-flex justify-content-between">
    <%= link_to "Geoff Humphreys", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
