<footer>
<div class="container">
  <p class="float-right port-footer">
    <%= link_to "View All Portfolio Items", portfolio_index_path %> /
    <a href="#">Back to top</a>
  </p>
  <p class="port-footer">
  <%= copyright_generator %>
  </p>
</div>
</footer>
