<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
     <p>Sed consectetur accumsan velit, sit amet commodo ipsum convallis vitae. Integer faucibus, lacus id vestibulum euismod, lacus eros eleifend mi, in tempus ipsum erat ac augue. Cras aliquam augue ac posuere euismod. Sed a tellus in dui blandit aliquet nec nec enim. Phasellus non varius mi. Quisque nisl ipsum, convallis ut mattis in, mollis sit amet enim. Aenean vel orci sed tortor accumsan sollicitudin.</p>


   </div>
 </div>
