<div class="container">
  <div class="content-card">
    <div class="card">
      <div class="row">
        <div class="col">
          <h1 class="about-header text-center">A Little Bit About Me</h1>
          <hr>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="about-pic col-lg-4 col-md-12 text-center">
            <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
          </div>
          <div class="about-body text-center col-lg-7 col-md-10">
            <p>
              Hi! About sections are so strange. lets see...... I love soda water and lawnmower beers, I keep bees in the backyard, I love Willie Nelson and have a dog named Merle, I don't throw stones, My brain won't stop coming up with new ideas and schemes (to honest to think of scams), I started programming when I realized with code, I can literaly make anything. My wife and I would love to see all 58 national parks from the windows of our 1989 Airsteam Excella.  Ruby/Rails is the language and framework I know best all I want to do is learn as much as I can before I shuffle off. <br />If you need any work done or just want to talk feel free to send me an email send me a message on the contact page
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
