<div class="container">
  <div class="content-card">
    <div class="card">
      <div class="row">
        <div class="col">
          <h1 class="about-header text-center">A Little Bit About Me</h1>
          <hr>
        </div>
        <div class="row align-items-center justify-content-center">
          <!-- <div class="about-pic col-lg-4 col-md-12 text-center">
            <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
          </div> -->
          <div class=" text-center col-lg-12 mx-3 mx-sm-0">
            <h5 class="about-body">
              Hello, my name's Geoff Humphreys. I’m a developer currently living in Durham, NC. Ruby on Rails is the language and framework I know best, but I want to learn as much as I can before I shuffle off.
              <br />
              <br />
              Outside of work, I keep bees in the backyard, I like to listen to Ennio Morricone while writing code, I have a dog named Merle, and I love to build things. My wife and I would love to see all 58 national parks from the front door of our 1989 Airsteam Excella.
              <br />
              <br />
              If you need any work done, or just want to talk, send me a message!
              <br />
              <br />
            </h5>
            <%= link_to image_tag("connect.png", width: 60) + 'CONTACT', contact_path, :class => "btn btn-outline-dark contact-box" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
