<div class="container">
  <div class="content-card">
    <div class="card">
      <div class="row">
        <div class="col">
          <h1 class="about-header text-center">A Little Bit About Me</h1>
          <hr>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="about-pic col-lg-4 col-md-12 text-center">
            <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
          </div>
          <div class="about-body text-center col-lg-7 col-md-10">
            <p>
              <!-- Hello, my name is Geoff. I’m a developer currently living in Durham, NC.  I started programming when I realized that I could make literally anything with code. Ruby on Rails is the language and framework I know best and all I want to do is learn as much as I can before I shuffle off.
              <br />
              I keep bees in the backyard, I love Ennio Morricone, and I have a dog named Merle. My wife and I would love to see all 58 national parks from the front porch of our 1989 Airsteam Excella.
              <br />
              If you need any work done, or just want to talk, send me a message on the contact page! -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
