
<div class="portfolio-masthead">

  <%= image_tag(
    'dark-honeycomb-background.gif',
    id: 'overlay-img',
    autoplay: true,
    loop: true,
    muted: true
  )
  %>

  <section class="jumbotron container-fluid green">
    <div class="row mast-row blue">
      <div class="col align-self-center">
        <h1 class="jumbotron-heading text-center">geoff humphreys</h1>
      </div>
    </div>
    <div class="row mast-row justify-content-center blue">
      <h1 class="col-lg-8 col-md-5 col-sm-10 align-self-center text-center fade-in-text"> Developer / Keeper of Bees and Large Dogs / nice person</h1>
    </div>
    <div class="row mast-row justify-content-center blue">
    <p class="element col-lg-10 col-md-10 col-sm-10 text-center fade-in-text"></p>
    </div>
  </section>
</div>
