<div class="inner cover">
  <h1 class="cover-heading ">Just trying to make it better</h1>
  <p class="lead">Something about me to make you continue to look around.</p>

  <div class="row justify-content-center">
    <figure class="icon-link hovereffect my-container">
      <div class="top-top">
        <%= link_to image_tag("placeholder-icon.png", width: 200), portfolios_path %>
        <figcaption>Portfolio</figcaption>
      </div>
      </figure>
    <figure class="icon-link hovereffect my-container">
      <%= link_to image_tag("placeholder-icon.png", width: 200), blogs_path %>
      <figcaption>Blog</figcaption>
    </figure>
    </div>
      <div class="row justify-content-center">
    <figure class="icon-link hovereffect my-container">
      <%= link_to image_tag("placeholder-icon.png", width: 200), about_me_path %>
      <figcaption>About Me</figcaption>
    </figure>
    <figure class="icon-link hovereffect my-container">
      <%= link_to image_tag("placeholder-icon.png", width: 200), contact_path %>
      <figcaption>Contact</figcaption>
    </figure>
  </div>

</div>
