@import "bootstrap";
@import "gritter";


// FONTS //
// font-family: 'Red Moon Rising';
// font-family: 'Raleway', sans-serif;
// font-family: 'Mina', sans-serif;
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */
html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  // background-color: #333;
}
body {
  color: #fff;
  // text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Raleway', sans-serif;
}

/////////////////////////////////////////////
/////////////////////////////////////////////
///////////  HOMEPAGE   ////////////////////
/////////////////////////////////////////////
/////////////////////////////////////////////
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 400;
  color: white;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  font-family: 'Red Moon Rising';
  letter-spacing: .3vw;
  font-size: 1.25rem;
}

.navbar {
  justify-content: space-around;
}
.navbar-brand {
  float: left;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #b7eef4;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #b7eef4;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .navbar-brand {
    float: left;
  }
  // .nav-masthead {
  //   float: right;
  // }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */


 .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  // margin: 2vw 0vw;
  // line-height: 60px; /* Vertically center the text there */
  background-color: transparent;
}


/*
 * Affix and center
 */
@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 65rem;; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}

/*
 * Custom Styles
 */


.card-block {
  color: black;
  text-align: left;
  padding: 2vw;
}

.auth-links a {
  color: black;
}

.register-text {
  text-align: right;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}

.app-nav span {
  margin-left: 5px;
  margin-right: 5px;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.app-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: white;
  border-top: .05rem solid #e5e5e5;
  z-index: 3;
}


.tech-news {
  color: black;
  margin: 20px;
}

.tech-news > .card {
  padding: 30px;
}

.tech-news a {
  color: green;
}

.content-card {
  color: black;
  opacity: .7;
  // width: 75%;
  margin: 3vw;
}

.app-card-container > .card {
  padding: 40px;
}

.profile-img {
  border: 1px solid grey;
}

.app-card-container a {
  color: blue;
}

.card{
  padding-bottom: 30px;
  padding-top: 30px;
}

.about-header {
  font-family: 'Mina', sans-serif;
}

.about-pic {
  margin-left: 2vw;
}

.about-body {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 2vw;
}

.contact-header {
  font-family: 'Mina', sans-serif;
}
.contact-body {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

.contact-email a{
  color: black !important;
}


.navbar-toggler {
  color: transparent;
  font-size: 2.25rem;
}

 //  Typed.js //
.element {
  font-family: 'Raleway', sans-serif !important;
  font-size: 150% !important;
  color: #d9fcf5 !important;
}

.typed-cursor {
  color: black;
}




//////////////////////////////////
////// masthead  //////////////
//////////////////////////////////////////////////////////



.jumbotron {
  padding: 0vw !important;
  margin-bottom: 0;
  height: 80%;
  background-color: transparent;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}









.portfolio-masthead{
 position: relative;
 overflow: hidden;
 height: 100%;
}

.mast-row {
 height: 25%;
}

.portfolio-masthead:before {
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   opacity: 0.9;
   background-image: transparent;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   -ms-background-size: cover;
   -o-background-size: cover;
   -moz-background-size: cover;
   -webkit-background-size: cover;
   background-size: cover;
}


.portfolio-masthead h1{
 z-index: 4;
 position: relative;
 padding: 1vw;
 margin: 0vw 20vw;
 margin-top: 10rem;
 color: #d9fcf5;
 opacity: 0;
 font-weight: bolder;
 letter-spacing: 2px;
 font-family: 'Red Moon Rising';
 border-radius: 1vw;
 -webkit-transition: all 2s ease-out;
-webkit-transform: scale(2);
-ms-transition: all 2s ease-out;
-ms-transform: scale(2);
-moz-transition: all 2s ease-out;
-moz-transform: scale(2);
transition: all 2s ease-out;
transform: scale(2);

}

.portfolio-masthead p{
 z-index: 3;
 font-size: 200%;
 letter-spacing: 1px;
 position: relative;
 color: #d9fcf5;
 opacity: 1;
 font-family: 'Red Moon Rising';
 // visibility: hidden;
}

.mast-button{
 font-size: 100%;
 color: #d9fcf5;
 background-color: #997238;
 visibility: hidden;
}


#overlay-img{
 position: absolute;
 overflow: hidden;
 width: 100%;
 height: 80%;
 z-index: 1;
 opacity: .9;
 transition: ease-in-out 2s;
 -webkit-transition: ease-in-out 2s;
 -moz-transition: ease-in-out 2s;
}

#overlay-img:after{
height: 80%;
left: -35%;
top: 0;
transform: skew(50deg);
transition-duration: 0.6s;
transform-origin: top left;
width: 0;
}



body:hover {
  .fade-in-text{

  //   // transition: all .2s ease 1s;   3/23
  //   transition: all .2s ease 2s;
      visibility: visible;
       animation-name: fadeInOut;
        animation-delay: 0s;
        animation-duration: 3s;
        opacity: 1;
  }

  #overlay-img{
    // transform: translate(100%,0);
    // -webkit-transform: translate(100%,0);
    // -moz-transform: translate(100%,0);
    height: 80%;
    width: 435%;
    opacity: 0;
  }

  .portfolio-masthead h1{

    -webkit-transition: all 2s ease-out;
     -webkit-transform: scale(1);
     -ms-transition: all 2s ease-out;
     -ms-transform: scale(1);
     -moz-transition: all 2s ease-out;
     -moz-transform: scale(1);
     transition: all 2s ease-out;
     transform: scale(1);
     margin-top: 0;
     opacity: 1;
  }

}


// .blue {
//   border: 2px solid blue;
// }
//
// .green {
//   border: 2px solid green;
// }
