@import "bootstrap";
@import "gritter";

// FONTS //
// font-family: 'Red Moon Rising';
// font-family: 'Raleway', sans-serif;
// font-family: 'Mina', sans-serif;



@font-face {
    font-family: 'Red Moon Rising';
    src: font-url("red_moon_rising-webfont.eot");
    src: font-url("red_moon_rising-webfont.eot?#iefix") format('embedded-opentype'),
         font-url("red_moon_rising-webfont.woff2") format('woff2'),
         font-url("red_moon_rising-webfont.woff") format('woff'),
         font-url("red_moon_rising-webfont.ttf") format('truetype'),
         font-url("red_moon_rising-webfont") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space age';
    src: font-url("space-age-webfont.eot");
    src: font-url("space-age-webfont.eot?#iefix") format('embedded-opentype'),
         font-url("space-age-webfont.woff2") format('woff2'),
         font-url("space-age-webfont.woff") format('woff'),
         font-url("space-age-webfont.ttf") format('truetype'),
         font-url("space-age-webfont") format('svg');
    font-weight: normal;
    font-style: normal;
}


//  Globals


/* Links */
a,
a:focus,
a:hover, a:active {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover, .btn-secondary:active,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/* Jumbotron (Portfolio-masthead and Home) */
.jumbotron {
  padding: 0vw !important;
  margin-bottom: 0;
  height: 80%;
  background-color: transparent;
}


.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  // background-color: #333;
}
body {
  color: #fff;
  // text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Raleway', sans-serif;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

///////////////////////
//// Devise ///////////////////////////////////////////////////////////////
//////////////////////
.auth-links a {
  color: black;
}

.register-text {
  text-align: right;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}


///////////////////////
//// Navigation  (Pages and Portfolio) ///////////////////////////////////////////////////////////////
//////////////////////

 .application-nav {
   background-color: black;
 }


.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 400;
  color: white;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  font-family: 'Red Moon Rising', 'Raleway';
  letter-spacing: .3vw;
  font-size: 1.25rem;
}

.navbar {
  justify-content: space-around;
}
.navbar-brand {
  float: left;
  font-family: 'Red Moon Rising', 'Raleway';
  font-size: 200%;
}
.nav-masthead .nav-link:hover,.nav-masthead .nav-link:active,
.nav-masthead .nav-link:focus {
  border-bottom-color: #b7eef4;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #b7eef4;
  border-bottom-color: #fff;
}

.app-nav span {
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-toggler {
  color: transparent;
  font-size: 2.25rem;
}

///////////////////////
//// Masthead ///////////////////////////////////////////////////////////////
//////////////////////
// .masthead {
//   margin-bottom: 2rem;
// }



.portfolio-masthead{
 position: relative;
 overflow: hidden;
 height: 100%;
}

.mast-row {
 height: 33%;
}

.portfolio-masthead:before {
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   opacity: 0.9;
   background-image: transparent;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   -ms-background-size: cover;
   -o-background-size: cover;
   -moz-background-size: cover;
   -webkit-background-size: cover;
   background-size: cover;
}


.portfolio-masthead h1{
 z-index: 4;
 position: relative;
 padding: 1vw;
 margin: 0vw 20vw;
 margin-top: 10rem;
 color: #d9fcf5;
 opacity: 0;
 font-weight: bolder;
 letter-spacing: 2px;
 font-family: 'Red Moon Rising', 'Raleway';
 border-radius: 1vw;
 -webkit-transition: all 2s ease-out;
-webkit-transform: scale(2);
-ms-transition: all 2s ease-out;
-ms-transform: scale(2);
-moz-transition: all 2s ease-out;
-moz-transform: scale(2);
transition: all 2s ease-out;
transform: scale(2);

}

.portfolio-masthead p{
 z-index: 3;
 font-size: 200%;
 letter-spacing: 1px;
 position: relative;
 color: #d9fcf5;
 opacity: 1;
 font-family: 'Red Moon Rising','Raleway';
 // visibility: hidden;
}

.mast-button{
 font-size: 100%;
 color: #d9fcf5;
 background-color: #997238;
 visibility: hidden;
}


#overlay-img{
 position: absolute;
 overflow: hidden;
 width: 100%;
 height: 100%;
 z-index: 1;
 opacity: .9;
 transition: ease-in-out 2s;
 -webkit-transition: ease-in-out 2s;
 -moz-transition: ease-in-out 2s;
}

#overlay-img:after{
height: 100%;
left: -35%;
top: 0;
transform: skew(50deg);
transition-duration: 0.6s;
transform-origin: top left;
width: 0;
}



///////////////////////
//// Comments ///////////////////////////////////////////////////////////////
//////////////////////
.card-block {
  color: black;
  text-align: left;
  padding: 2vw;
}


///////////////////////
//// Tech-News ///////////////////////////////////////////////////////////////
//////////////////////
// .tech-news {
//   color: black;
//   margin: 20px;
// }
//
// .tech-news > .card {
//   padding: 30px;
// }
//
// .tech-news a {
//   color: green;
// }

///////////////////////
//// Hover ///////////////////////////////////////////////////////////////
//////////////////////
body:hover, body:active {
  .fade-in-text{
    visibility: visible;
    animation-name: fadeInOut;
    animation-delay: 0s;
    animation-duration: 3s;
    opacity: 1;
  }

  #overlay-img{
    height: 80%;
    width: 435%;
    opacity: 0;
  }

  .portfolio-masthead h1{
    -webkit-transition: all 2s ease-out;
    -webkit-transform: scale(1);
    -ms-transition: all 2s ease-out;
    -ms-transform: scale(1);
    -moz-transition: all 2s ease-out;
    -moz-transform: scale(1);
    transition: all 2s ease-out;
    transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }

  .application-nav{
    background-color: transparent;
    transition: all 2s;
  }

}

///////////////////////
//// Responsive ///////////////////////////////////////////////////////////////
//////////////////////
@media (min-width: 48em) {
  .navbar-brand {
    float: left;
  }

  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 65rem;; /* Must be percentage or pixels for horizontal alignment */
  }

  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}





///////////////////////
//// Helpers ///////////////////////////////////////////////////////////////
//////////////////////

.blue {
  border: 2px solid blue;
}

.green {
  border: 2px solid green;
}
