.card{
  padding-bottom: 30px;
  padding-top: 30px;
  background-image: image-url('contact-bee-light.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}

.content-card {
  color: black;
  opacity: .7;
  // width: 75%;
  margin: 3vw;
}

///////////////////////
//// About-Me ///////////////////////////////////////////////////////////////
//////////////////////
.about-header {
  font-family: 'Mina', sans-serif;
}

.about-pic {
  margin-left: 2vw;
}

.about-body {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vw;
  margin: 0vw 4vw;
  margin-top: 2vw;
}


///////////////////////
//// Contact ///////////////////////////////////////////////////////////////
//////////////////////

.contact-header {
  font-family: 'Mina', sans-serif;
}
.contact-body {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

.contact-email a{
  font-size: 125%;
  color: black !important;
}

.google-map {
  margin: 3vw;
  height: 25vw;
  // border: 1px solid blue;
}

///////////////////////
//// Homepage ///////////////////////////////////////////////////////////////
//////////////////////
.home-title h4{
 color: #d9fcf5;
 font-weight: bolder;
 letter-spacing: 2px;
 font-family: 'Red Moon Rising', 'Raleway';
}

.who-i-am {
  padding-top: 5vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

//////////////////////
// Typed.js /////////
//////////////////////
.element {
  font-family: 'Mina', sans-serif !important;
  font-size: 150% !important;
  color: #b7eef4 !important;
  opacity: .7;
  padding-top: 14vw;
}

.typed-cursor {
  color: black;
  padding-top: 3vw;
}

///////////////////////
//// Footer ///////////////////////////////////////////////////////////////
//////////////////////

 .footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 2vw;
  background-color: transparent;
}
