@import "bootstrap";
@import "jquery-ui";
@import "gritter";



:root {
  --jumbotron-padding-y: 3rem;
}

body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  // background-color: #333;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Raleway', sans-serif;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/*
 * Custom styles
 */


.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card img {
    width: 100%; /* You can set the dimensions to whatever you want */
    height: 250px;
    object-fit: cover;
    object-position: top;
    border: 2px solid #e5e3e3;
    padding: 3px;
}

.portfolio-container {
  padding-top: 30px;
}

.pic-container {
    width: 50px;
    height: 600px;
    overflow-y: scroll;
    overflow-x:hidden;
}

.portfolio-masthead{
  position: relative;
  overflow: hidden;
}

.portfolio-masthead:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: image-url('profile.jpg');
    background-repeat: no-repeat;
    background-position: 50% 15%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.portfolio-masthead h1{
  z-index: 2;
  position: relative;
  color: #353a3f;
}

.portfolio-masthead p{
  margin-left: 13vw;
  z-index: 2;
  position: relative;
  color: #353a3f;
}
